:global {
  .compo__select {
    background-color: #fff;
    &.ant-select-disabled {
      .ant-select-selection{
        background: #fff;
        border-color: transparent;
        color: rgba(0, 0, 0, 0.65);
        .ant-select-arrow {
          display: none;
        }
      }
    }
  }
}
